* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30333f;
}

form {
  display: block;
  position: relative;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #879da9, #10141a);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: #272828;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  color: #303131;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  font-weight: bold;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #dadddf;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 3px 3px 3px rgba(17, 30, 115, 0.2);
}

form .form-inner input[type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 7px;
  margin-left: 33%;
  border-radius: 8px;
  background-size: 200%;
  background-position: 0%;
  background-color: #30333f;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"] :hover,
.welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 15px 30px;
}

.welcome h2 {
  color: #414141;
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.logout {
  position: absolute;
  top: 0;
  right: 10px;
}
